<div class="linkslist">
    <p class="asidetitle"><%= __('links') %></p>
    <ul>
        <li>
            <a href="http://spring.io" target="_blank">
                Spring
            </a>
        </li>
        <li>
            <a href="http://liuxing87327.iteye.com" target="_blank">
                iTeye
            </a>
        </li>
        <li>
            <a href="https://github.com/" target="_blank">
                GitHub
            </a>
        </li>
        <li>
            <a href="https://bitbucket.org/" target="_blank">
                Bitbucket.org
            </a>
        </li>
        <li>
            <a href="http://www.stackoverflow.com/" target="_blank">
                Stack Overflow
            </a>
        </li>
        <li>
            <a href="http://developer.android.com/" target="_blank">
                Android Developer
            </a>
        </li>
        <li>
            <a href="http://blog.jobbole.com/" target="_blank">
                Jobbole
            </a>
        </li>
        <li>
            <a href="http://www.ruanyifeng.com/blog/" target="_blank">
                阮一峰的网络日志
            </a>
        </li>
        <li>
            <a href="http://jinnianshilongnian.iteye.com/" target="_blank">开涛的博客</a>
        </li>
        <li>
            <a href="http://kuang.io" target="_blank">
                闷骚乔巴的博客
            </a>
        </li>
        <li><a href="http://hexo.io/zh-cn" target="_blank" title="Hexo">Hexo</a></li>
        <li><a href="http://gengbiao.me" target="_blank" title="coney">coney's Blog</a></li>
        <li><a href="http://www.kailing.pub" target="_blank" title="KL博客">KL博客</a></li>
    </ul>
</div>
